@model EntityLayer.Concrete.Feature
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<div class="card-header border-0">
    <h3 class="mb-0">Öne Çıkan Post Düzenleme Sayfası</h3>
</div>

<form asp-action="Index" asp-controller="Feature" method="post">
    <br />

    <input asp-for="FeatureID" type="hidden" />

    <label>Başlık</label>
    <input type="text" asp-for="Header" class="form-control" />
    <br />

    <label>Ad Soyad</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Görev</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>

