@model EntityLayer.Concrete.Skill

@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@*<br />

    <div class="card-header border-0">
        <h3 class="mb-0">Yetenek Ekleme Sayfası</h3>
    </div>

    <form asp-action="AddSkill" asp-controller="Skill" method="post">

        <br />
        <label>Yetenek Başlığı</label>
        <input type="text" asp-for="Title" class="form-control" />
        <br />

        <label>Değer</label>
        <input type="text" asp-for="Value"  class="form-control"/>
        <br />
        <button class="btn btn-primary">Kaydet</button>

    </form>*@


@using (Html.BeginForm("AddSkill", "Skill", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Yetenek Ekleme Paneli </p>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>Başlık</label>
                        <input type="text" asp-for="Title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Oran</label>
                        <input type="text" asp-for="Value" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <button class="btn btn-dark">İptal</button>
                </form>
            </div>
        </div>
    </div>
}